*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0b16;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-color: white;
    display:inline-block;
    justify-content: center;
    color: black;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: black;
    display:flex;
    border-bottom: 5px solid #4717f6;
    height: 100px;
}
header>h1{
    margin-block: 25px;
    font-size: 200%;
    color:#1792f6;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    right: 1040px;
}
.border_div{
    display: inline-block;
    position: fixed;
    background-color: black;
    left:10px;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    padding: 10px;
    border-bottom: 2px solid #1792f6;
}
.border_div > button{
    background-color: black;
    border-bottom: 1px solid #4717f6;
}
#cadastrar_a:hover{
    text-shadow:0px 0px 5px #fff; 
    border-bottom: 1px solid #4717f6;
}
.center{
    background-color: white;
}
.conteiner{
    display:flex;
    justify-content: center;
}
img{
    width: 50%;
    height: 50%;
}
.excel-table {
    border: 1px solid black;
    display:inline-block;
    justify-content: center;
    border-bottom: 3px solid #4717f6;
    border-right: 3px solid #4717f6;
}  
.controler{
    margin-block: 10px;
}
footer{
    display: flex;
    background-color: black;
}
#menu ul {
    list-style: none;
    border: 1px solid black;
}

#menu li {
    position: relative;
    border-right: 1px solid #4717f6;
}

#menu li a {
    color: white; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}


#menu li a:hover{
    text-shadow:0px 0px 5px #fff; 
}

#menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color: black;
    display:none;
}  

#menu li:hover ul, #menu li.hover ul{
    display:block;
}

#menu li ul li{
    width:150px;
    }
#menu{
   flex: 1;
   justify-content: center;
   align-items: center; 
}
#menu, #menu ul{
   display: flex;
}
#enterprise_name{
    margin-block: 40px;
    border-left:2px solid #4717f6;
    position: absolute;
    right: 10px;
}
.h3{
    border-top: 10px solid #0e0b16;
}
